*.a
*.app
*.bsc
*.dep
*.dll
*.dylib
*.gch
*.idb
*.ilk
*.ipch
*.la
*.lai
*.lib
*.lo
*.log
*.mod
*.ncb
*.o
*.obj
*.out
*.pch
*.pdb
*.rsp
*.slo
*.smod
*.so
*.suo
*.tlog
*.user
*.sdf
*.zip
*.wav
*.cache
Debug/*.*
Release/*.*
LOG1/*.log
LOG2/*.log
Thumbs.*
**/Debug/
**/Release/
**/obj/
**/bin/
**/LOG1/
**/LOG2/
**/LOG3/
**/TMPDATA/
**/History/
